* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #ddd;
  font-weight: 600;
  min-height: 100vh;
  background-color: #98D8EF;
}

.main {
  max-width: 480px;
  margin: 30px auto;
  padding: 20px;
  background-color: #213555;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 3px #3E5879;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  gap: 2px;
  width: 80%;
}

.form-container > button {
  background-color: #3E5879;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 6px;
  color: #98D8EF;
  cursor: pointer;
}

.temperature-container {
  display: flex;
  gap: 25px;
  margin-top: 15px;
}

.temperature-container > button {
  background-color: #3E5879;
  border: none;
  color: #98D8EF;
  padding: 0 25px;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;
}

#forecast-span {
  font-weight: 600;
  font-size: 1.1rem;
}


#location-input {
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #98D8EF;
  color: #213555;
  font-weight: 600;
  width: 100%;
}

#location-input::placeholder {
  color: #3E5879;
}

#location-input:focus {
  border: 1px solid #3E5879;
}

.img-container {
  display: flex;
  justify-content: center;
  
}

.another-container {
  background-color: #3E5879;
  padding: 10px 15px;
  border-radius: 6px;
  flex-grow: 1;
  text-align: center;
}

#date-span, #time-span {
  color: #98D8EF;
  font-size: 1rem;
}

.main-information-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#cityname {
  display: block;
  text-align: center;
}

#temperature-span {
  color: #98D8EF;
  font-size: 3rem;
}

.time-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 2px;

}

.statistics-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;
  gap: 2px;
  margin-top: 15px;
}

#wind-number, #humidity-number {
  color: #98D8EF;
  font-size: 1.3rem;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: #3E5879;
  border-radius: 6px;
  padding: 5px 0px;
  gap: 5px;
}

/* .stats-container > span {
  display: block;
} */